.active{
    color: red;
}
.link{
    color: black;
    cursor: pointer;
    transition: color 0.5s;
}
.link:hover{
    color: gray;
}
.elipsis {
    display: flex;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 80px;
    height: 80px;
}
.elipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(239 68 68);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.elipsis div:nth-child(1) {
    left: 8px;
    animation: elipsis1 0.6s infinite;
}
.elipsis div:nth-child(2) {
    left: 8px;
    animation: elipsis2 0.6s infinite;
}
.elipsis div:nth-child(3) {
    left: 32px;
    animation: elipsis2 0.6s infinite;
}
.elipsis div:nth-child(4) {
    left: 56px;
    animation: elipsis3 0.6s infinite;
}
@keyframes eipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes elipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes elipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
